<mat-toolbar>Grado y Seccion
  <div class="example-spacer"></div>
  <button mat-raised-button color="primary" (click)="openDialog()" style="float: right; margin-right: 20px" >AGREGAR</button>
</mat-toolbar>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar Grado o Sección" #input>
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idGradoSeccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> IDGradoSeccion </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idGradoSeccion}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="descripcionGrado">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Grado </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.descripcionGrado}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcionSeccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Hora Inicio </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.descripcionSeccion} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header >Estado </mat-header-cell>
      <mat-cell *matCellDef="let element" >{{ element.estado ?'Activo':'Inactivo'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="openDialog(row)" >Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<button mat-fab color="primary" (click)="openDialog()" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>
